.textEellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clearF:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.userSelect {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.floatL {
  float: left;
}
.floatR {
  float: right;
}
.totalIconCss {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'myfont';
  src: url('../fonts/MyriadPro-Regular.woff') format('woff'), /* chrome、firefox */ url('../fonts/MyriadPro-Regular.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/MyriadPro-Regular.otf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/MyriadPro-Regular.svg#iconfont') format('svg'), /* iOS 4.1- */ url('../fonts/MyriadPro-Regular.eot');
}
@font-face {
  font-family: 'activeFont';
  src: url("../activeFonts/DIN-Condensed-Bold.ttf");
}
@font-face {
  font-family: 'open-sans';
  src: url("../fonts/Open-Sans-2.ttf") format('opentype');
}
@font-face {
  font-family: 'open-sans-blod';
  src: url("../fonts/open-sans-v13-latin_vietnamese-700.woff.ttf") format('opentype');
}
@font-face {
  font-family: 'ProximaNova-Reg';
  src: url("../fonts/ProximaNova/ProximaNova-Reg.otf") format('opentype'), url("../fonts/ProximaNova/ProximaNova-Reg.ttf") format('truetype');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format('opentype');
}
html,
body {
  font-size: 12px;
  font-family: 'open-sans', 'Arial';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ccecf8;
  min-width: 1280px;
}
.active-wrap {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.active-banner {
  background: url("../images/activity/active-banner.png") no-repeat center;
  height: 432px;
  padding-top: 48px;
  text-align: center;
  position: relative;
}
.active-banner .active-date {
  display: block;
  margin: -20px auto 0;
}
.active-banner .end-time {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: -10px;
}
.active-banner .active-price {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  margin-left: -180px;
}
.active-des {
  background: url("../images/activity/active-des.png") no-repeat center;
  max-width: 1483px;
  height: 586px;
  margin: 50px auto;
  padding: 34px 100px;
  font-size: 24px;
  line-height: 46px;
}
.active-des .des-type {
  text-align: center;
  margin: 40px auto;
  cursor: pointer;
}
.active-des .des-type span:first-child {
  margin-right: 146px;
}
.active-des .pop-btn {
  display: block;
  width: 439px;
  height: 109px;
  line-height: 109px;
  background: #ffeb6d;
  text-align: center;
  font-size: 30px;
  color: #001646;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto 0;
  cursor: pointer;
  position: relative;
}
.active-des .pop-btn:before {
  display: block;
  content: '';
  width: 439px;
  height: 109px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #001344;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 1;
}
.active-des .pop-btn:active {
  transform: translateY(1px);
}
.active-rules {
  margin: 80px auto 0;
  position: relative;
}
.active-rules:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.active-rules .rules {
  float: left;
  width: 50%;
  height: 688px;
  background: #00a6db;
  padding: 146px 78px 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.active-rules .rules:first-child {
  background: #134a9c;
}
.active-rules .rules:first-child p {
  margin-top: 30px;
}
.active-rules .rules p {
  margin-top: 10px;
}
.active-rules .rules p span {
  font-size: 26px;
  color: #ff5b00;
}
@media screen and (max-width: 1900px) {
  .active-rules .rules {
    font-size: 21px !important;
  }
}
@media screen and (max-width: 1400px) {
  .active-rules .rules {
    font-size: 19px !important;
  }
}
@media screen and (max-width: 1366px) {
  .active-rules .rules {
    font-size: 17px !important;
  }
}
.active-rules .active-tag-top {
  width: 770px;
  height: 75px;
  font-size: 33px;
  line-height: 75px;
  background-color: #ffeb6d;
  border-radius: 5px;
  border: solid 1px #001646;
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  text-align: center;
  color: #001646;
}
.active-rules .active-tag-bottom {
  width: 1016px;
  height: 68px;
  line-height: 60px;
  background-color: #ffffff;
  border: solid 4px #ccecf8;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  font-size: 24px;
  text-align: center;
  color: #001646;
}
.bottom-rules {
  background: url("../images/activity/bottom-rules.png") no-repeat center;
  max-width: 1424px;
  height: 440px;
  margin: 80px auto 40px;
  padding: 50px 39px;
}
.bottom-rules h3 {
  font-size: 26px;
  font-style: normal;
}
.bottom-rules ul {
  padding-left: 30px;
  margin-top: 30px;
  font-size: 24px;
}
.bottom-rules li {
  list-style: decimal;
  margin-bottom: 26px;
}
.active-pop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
.active-pop:before {
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  bottom: 0;
  margin: auto;
}
.active-pop .active-pop-body {
  background: url("../images/activity/active-pop-bg.png") no-repeat center;
  width: 917px;
  height: 446px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;
  bottom: 0;
  margin: auto;
}
.active-pop .active-pop-body .pop-close-btn {
  background: url("../images/activity/close-btn.png") no-repeat center;
  width: 20px;
  height: 20px;
  padding: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s linear;
}
.active-pop .active-pop-body .pop-close-btn:hover {
  transform: rotate(180deg);
}
.active-pop .active-pop-body .pop-title {
  text-align: center;
  font-size: 39px;
  padding-top: 56px;
  color: #001646;
}
.active-pop .active-pop-body .pop-order {
  width: 438px;
  height: 52px;
  line-height: 50px;
  background-color: #ececec;
  border-radius: 5px;
  display: block;
  margin: 10px auto 0;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
}
.active-pop .active-pop-body h6 {
  margin: 30px 0 0 40px;
  font-size: 17px;
  color: #001646;
}
.active-pop .active-pop-body ul {
  margin: 14px 0 0 40px;
  font-weight: 700;
  font-size: 17px;
  counter-reset: sectioncounter;
}
.active-pop .active-pop-body ul li {
  margin-bottom: 14px;
}
.active-pop .active-pop-body ul li:before {
  content: counter(sectioncounter) "、";
  counter-increment: sectioncounter;
}
.active-pop .active-pop-body ul li a {
  color: blue;
}
.active-pop .active-pop-body ul li a:active {
  color: blue;
}
.active-pop .active-pop-body .pop-note {
  font-size: 12px;
  color: #001646;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 24px;
  left: 0;
  z-index: 1;
  font-weight: 700;
}
/*# sourceMappingURL=activity_jp.css.map */